<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "All Books", books_path %> |
      <%= link_to "Rate a Book", new_reading_record_path %> |
      <%= link_to "Recommendations", recommendations_path %>
    </nav>
    <hr>

    <%= yield %>
  </body>
</html>
